{
  //"parser": "@typescript-eslint/parser",
  "plugins": [/*"@typescript-eslint",*/ "react", "prettier", "sonarjs"],
  "extends": [
    "plugin:@next/next/recommended",
    //"plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "next/core-web-vitals",
  ],

  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true,
  } /*,
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-function": 0,
    "no-console": "off",
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "no-dupe-keys": "warn"
  }*/,
}
