@use "styles/abstracts" as *;

$column-width: 420px;

.publication {
  display: grid;
  justify-content: center;
  align-content: center;

  @media only screen and (max-width: $collapsed-menu-max-width) {
    padding-top: 20px;
  }
  @media only screen and (max-width: 480px) {
    padding: 0 20px 20px 20px;
  }
}

.content {
  display: grid;
  grid-template-columns: $column-width $column-width;
  gap: 20px;
  @media only screen and (max-width: $collapsed-menu-max-width) {
    grid-template-columns: $column-width;
  }
  @media only screen and (max-width: 480px) {
    grid-template-columns: 100%;
  }

  @media only screen and (min-width: $big-screens-min-width) {
    grid-template-columns: convert-px-to-vw($column-width) convert-px-to-vw(
        $column-width
      );
  }
}
